#fr1
{
	height: 550px;
}
#fr2
{
	height: 550px;
}

#btnCancelar{
  bottom: 10px;
  position: absolute;
  right: 10px;
} 
#btnGuardar{
  bottom: 10px;
  position: absolute;
  right: 110px;
}
#lblNombre{
	top: 10px;
  	position: absolute;
  	left: 30px;
  	font-size: 18px;
}

#txtID{
 top: 50px;
    position: absolute;
    right: 70px;
    font-size: 18px;
}

#txtNombre{
	top: 10px;
  	position: absolute;
  	right: 70px;
  	font-size: 18px;
}

#txtNombreE{
  top: 110px;
    position: absolute;
    right: 70px;
    font-size: 18px;
}

#lblLugares{
	top: 70px;
  	position: absolute;
  	left: 30px;
  	font-size: 18px;
}

#txtLugares{
	top: 70px;
  	position: absolute;
  	right: 70px;
  	font-size: 18px;
}

#txtLugaresE{
  top: 170px;
    position: absolute;
    right: 70px;
    font-size: 18px;
}

#lblRegla{
	top: 130px;
  	position: absolute;
  	left: 30px;
  	font-size: 18px;
}

#txtRegla{
	top: 130px;
  	position: absolute;
  	right: 70px;
  	font-size: 18px;
}

#txtReglaE{
  top: 230px;
    position: absolute;
    right: 70px;
    font-size: 18px;
}

#lblRequisitos{
	top: 230px;
  	position: absolute;
  	left: 30px;
  	font-size: 18px;
}

#lblMinA{
  top: 330px;
    position: absolute;
    left: 30px;
    font-size: 18px;
}

#txtRequisitos{
	top: 230px;
  	position: absolute;
  	right: 70px;
  	font-size: 18px;
}

#txtMinA{
  top: 330px;
    position: absolute;
    right: 70px;
    font-size: 18px;
}


#txtRequisitosE{
  top: 330px;
    position: absolute;
    right: 70px;
    font-size: 18px;
}

#txtMinAE{
  top: 430px;
    position: absolute;
    right: 70px;
    font-size: 18px;
}

#dtFecha{
	top: 10px;
  	position: absolute;
  	left: 110px;
  	font-size: 18px;
}

#txtLgr{
	top: 70px;
  	position: absolute;
  	left: 110px;
  	font-size: 18px;
}

#txtcosto{
	top: 130px;
  	position: absolute;
  	left: 110px;
  	font-size: 18px;
}

#encabezado{
  height:50px; 
}
#navencabezado{
  height: 150px;
}
#idpie{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
#logo{

}

